<div>
    <div>
        <textarea cols = '60' rows = '6'>Stay put. Help is on the way!
        </textarea>
    </div>
    <div>
        <button class = 'btn btn-success' onclick = 'alert("Message Sent");'>Send</button>
    </div>
</div>